{{- if .Values.authentik.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: authentik-branding
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "avatar.labels" . | nindent 4 }}
binaryData:
  favicon.ico: {{ .Files.Get "static/branding/favicon.ico" | b64enc | quote }}
  logo.png: {{ .Files.Get "static/branding/logo.png" | b64enc | quote }}
  background.png: {{ .Files.Get "static/branding/background.png" | b64enc | quote }}
{{- end }}
