apiVersion: apps/v1
kind: Deployment
metadata:
  name: avatar-web
  labels:
    {{- include "avatar.labels" . | nindent 4 }}
    app.kubernetes.io/component: web

spec:
  selector:
    matchLabels:
      app.kubernetes.io/component: web
  replicas: {{ .Values.web.replicas }}
  template:
    metadata:
      labels:
        {{- include "avatar.labels" . | nindent 8 }}
        app.kubernetes.io/component: web
    spec:
      containers:
        - name: web
          image: {{ .Values.web.image.registry }}/{{ .Values.web.image.repository }}:{{ .Values.web.image.tag }}
          imagePullPolicy: {{ .Values.web.image.pullPolicy }}
          env:
            - name: AVATAR_STORAGE_ENDPOINT_PUBLIC_URL
              valueFrom:
                configMapKeyRef:
                  name: avatar-web-config
                  key: AVATAR_STORAGE_ENDPOINT_PUBLIC_URL
            - name: AVATAR_STORAGE_ENDPOINT_INTERNAL_URL
              valueFrom:
                configMapKeyRef:
                  name: avatar-web-config
                  key: AVATAR_STORAGE_ENDPOINT_INTERNAL_URL
            - name: AVATAR_API_PUBLIC_URL
              valueFrom:
                configMapKeyRef:
                  name: avatar-web-config
                  key: AVATAR_API_PUBLIC_URL
            - name: AVATAR_API_INTERNAL_URL
              valueFrom:
                configMapKeyRef:
                  name: avatar-web-config
                  key: AVATAR_API_INTERNAL_URL
            - name: AVATAR_WEB_CLIENT_URL
              valueFrom:
                configMapKeyRef:
                  name: avatar-web-config
                  key: AVATAR_WEB_CLIENT_URL
            - name: ENV_NAME
              valueFrom:
                configMapKeyRef:
                  name: avatar-web-config
                  key: ENV_NAME
            - name: AVATAR_SSO_URL
              valueFrom:
                configMapKeyRef:
                  name: avatar-web-config
                  key: AVATAR_SSO_URL
            - name: AVATAR_SSO_ENABLED
              valueFrom:
                configMapKeyRef:
                  name: avatar-web-config
                  key: AVATAR_SSO_ENABLED
          resources:
            requests:
              memory: {{ .Values.web.resources.memoryRequest }}
              cpu: {{ .Values.web.resources.cpuRequest }}
            limits:
              memory: {{ .Values.web.resources.memoryRequest }}
              cpu: {{ .Values.web.resources.cpuRequest }}
          ports:
            - name: web
              containerPort: 3000

      imagePullSecrets:
        - name: docker-local-pull-secret
