apiVersion: v1
kind: ConfigMap
metadata:
  name: avatar-web-config
  labels: {{- include "avatar.labels" . | nindent 4 }}

data:
  AVATAR_STORAGE_ENDPOINT_PUBLIC_URL: "{{ .Values.web.config.storageEndpointPublicHost }}{{ if .Values.web.config.storageEndpointPublicPort }}:{{ .Values.web.config.storageEndpointPublicPort }}{{ end }}"
  AVATAR_STORAGE_ENDPOINT_INTERNAL_URL: "{{ .Values.web.config.storageEndpointInternalHost }}:{{ .Values.web.config.storageEndpointInternalPort }}"
  AVATAR_API_PUBLIC_URL: "{{ .Values.web.config.apiPublicHost }}{{ if .Values.web.config.apiPublicPort }}:{{ .Values.web.config.apiPublicPort }}{{ end }}"
  AVATAR_API_INTERNAL_URL: "{{ .Values.web.config.apiInternalHost }}:{{ .Values.web.config.apiInternalPort }}"
  AVATAR_SSO_URL: "{{ .Values.web.config.ssoUrl }}"
  ENV_NAME: "{{ .Values.web.config.envName }}"
