# --- Web Configuration ---
AVATAR_API_PUBLIC_URL={{ AVATAR_API_PUBLIC_URL }}
AVATAR_API_INTERNAL_URL={{ AVATAR_API_INTERNAL_URL }}
AVATAR_STORAGE_ENDPOINT_INTERNAL_URL={{ AVATAR_STORAGE_ENDPOINT_INTERNAL_URL }}
AVATAR_STORAGE_ENDPOINT_PUBLIC_URL={{ AVATAR_STORAGE_ENDPOINT_PUBLIC_URL }}
AVATAR_WEB_CLIENT_URL={{ AVATAR_WEB_CLIENT_URL }}
AVATAR_SSO_URL={{ AVATAR_SSO_URL }}
AVATAR_AUTHENTIK_URL={{ AVATAR_AUTHENTIK_URL }}
AVATAR_SSO_ENABLED={{ AVATAR_SSO_ENABLED }}
ENV_NAME={{ ENV_NAME }}
